<% @search.each do |p| %>
<h1><%= p.item %></h1>
<iframe class ="map"
	 height="250px"
	 frameborder="0" style="border:0"
	 src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBX8hQcoSEtucwisPltvD2u0Xsl7nZg77I
	   &q=<%= (f.location).gsub(/(\S*)\s?(\S*)\s?(\S*)\s?(\S*)\s?(\S*)\s?(\S*)\s?(\S*)\s?(\S*)/, '\1+\2+\3+\4+\5+\6+\7+\8')%>&q=seattle+washington&q=arizona" allowfullscreen>
	</iframe>
<%= p.price %>
<% end %>