<!DOCTYPE html>
<html>
  <head>
    <title>Final</title>
    <%= csrf_meta_tags %>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<div >
  <div id="myNavbar">
    <a href="/">HOME</a>
    <a href="/login"><i class="fa fa-user"></i> LOGIN</a>
    <a href="/foods"><i class="fa fa-th"></i> RESTAURANT</a>
    <a href="/users/new"><i class="fa fa-briefcase"></i> REGISTER</a>
      <i class="fa fa-search"></i>
    </a>
  </div>
    <%= yield %>
  </body>
</html>
